@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('LucidaSansUnicode.woff2') format('woff2'),
        url('LucidaSansUnicode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}