* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

html {
    height: 100%;
}

body {
    font-family: 'Hans Kendrick', sans-serif;
    background-color: #e2e7ec;
    font-size: 22px;
}

.ld_text {
    font-size: 13px;
    color: #99a5b0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 103px;
}

.ld_text img {
    width: 30px;
    height: 28px;
    margin-right: 13px;
}

.container {
    width: 90%;
    max-width: 1121px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 91px 0 79px;
}

.big_block {
    width: 740px;
    height: 540px;
    position: relative;
    margin-bottom: 20px;
}

.gradient {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(9,9,121,0) 72%, transparent 100%);
    z-index: 0;
}

.small_block {
    width: 360px;
    height: 540px;
    background-color: #fff;
    position: relative;
}

.text {
    position: absolute;
    top: 396px;
    left: 46px;
    padding-right: 120px;
}

.bg-title {
    font-size: 13px;
    padding-bottom: 13px;
    padding-top: 6px;
    text-transform: uppercase;
    word-spacing: 7px;
    color: #fff
}

.bg_subtitle {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
}

.sb_text {
    padding: 14px 26px;
}

.face-icon {
    position: absolute;
    top: 461px;
    left: 28px;
}

.title {
    font-size: 13px;
    padding-bottom: 14px;
    padding-top: 5px;
    text-transform: uppercase;
    word-spacing: 7px;
    color: #818181;
}

.subtitle {
    color: #1d1d1d;
    text-transform: uppercase;
    font-weight: 800;
}

