*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

ul, ol {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.header_top {
background: -moz-linear-gradient(90deg, #9b0c4e 0%, #be076f 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #be076f), color-stop(100%, #9b0c4e)); /* safari4+,chrome */
background: -webkit-linear-gradient(90deg, #9b0c4e 0%, #be076f 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(90deg, #9b0c4e 0%, #be076f 100%); /* opera 11.10+ */
background: -ms-linear-gradient(90deg, #9b0c4e 0%, #be076f 100%); /* ie10+ */
background: linear-gradient(0deg, #9b0c4e 0%, #be076f 100%); /* w3c */
}

#main_menu {
    border-left: 2px solid #7d0546;
}

#main_menu li {
    display: inline-block;
    border-right: 2px solid #7d0546;
}

#main_menu li a {
    display: inline-block;
    height:47px;
    line-height: 47px;
    color: #fff;
    text-decoration: none;
    padding:0 25px;
    text-transform: uppercase;
}

#main_menu li a:hover {
    background-color: #770444;
}

/* promo */

.header_bottom {
    background-color: #000;
}

.promo {
    background: url('../images/flower.jpg') right top no-repeat;
    height:260px; 
}

.promo_title_wrap {
    padding-top: 96px;
}

.promo_title {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    text-transform: lowercase;
} 
.promo_subtitle {
    font-size: 16px;
    text-transform: uppercase;
    color:#b10969;
    letter-spacing: -2px;
    font-weight: 600;
}

.content {
    width:45%;
    float:left;
}

.col_1, .col_2 {
    width: 27.5%;
    float:left;
}

.clearfix::after {
    content:'';
    display:block;
    clear:both;
}

.news h2{
    color:#B10961;
    padding: 60px 0 17px 20px;
    font-size: 30px;
    letter-spacing: -3px;
    text-transform: lowercase;
}

.news_descr {
    color:#DFD9E2;
    font-size: 8px;
    text-transform: uppercase;
    padding: 0 0 20px 20px;
}

.news_descr a{
    text-decoration: none;
    color: #9B4A8B;
}

.news_text {
    color:#6d6b6b;
    font-size: 13px;
    line-height: 24px;
    padding: 0 24px 40px 20px; 
    text-align: justify;  
}

.news_text a{
    text-decoration: none;
    color:#B10961;
}

.news_links {
    margin: 5px 20px ;
}

.news_links li {
    display: inline;
    margin-right: 9px;
    font-size: 13px;
}

.news_links li a {
    color:#B10961;
    text-decoration: none;
}


.news_tags {
    display: inline-block;
    background-color: #F2F2F2;
    margin: 10px 0 0 0;
    padding: 6px 0 6px 20px;
    width: 100%;
}

.news_tags li {
    display: inline;
    margin-right: 2px;
    font-size: 10px;
    letter-spacing: -1px;
    font-weight: 800;
}

.news_tags li a {
    color:#B10961;
    text-decoration: none;
    text-transform: uppercase;
}

.news_tags li b {
    color:#6d6b6b;
    font-size: 10px;
    text-transform: uppercase;
}

.col_1 {
    background-color: #F2F2F2;
    margin: 30px 0 20px 0;
}

.content_col_1 h3 {
    color:#B10961;
    padding: 15px 0 15px 30px;  /* Размеры отступа этой колонны */
}

.block_li {
    display: inline-block;
    background-color: #BB096B;
    color:#fff;
    padding: 1px 15px 1px 15px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 0 20px 30px;
}

.text_li {
    color: #6d6b6b;
    font-size: 13px;
    line-height: 18px;
    max-width: 80%;
    text-align: justify;
    margin: 0 0 20px 30px;
}

.text_li::after {
    content:'';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E7E7E7;
    margin: 20px 0 0 0;
}

.col_2{
    margin-top: 30px;
    background-color: #fff;
}

.content_col_2 h2{
    color: #B10961;
    padding: 15px 0 15px 30px;
    font-size: 18px;
}

.content_col_2 li{
    line-height: 20px;
}

.content_col_2 li a {
    color: #B10961;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 10px;
    font-weight: 700;
}

.list {
    padding: 0 0 30px 50px;

}

.list li::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #B10961;
    transform: translate(-10px, -2.5px);
}

.list b {
    color: grey;
}

footer {
    background-color: #000;
    height: 120px;
}

.footer_text {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 30px;
}

.footer_text a {
    background-color: #B10961;
    padding: 2px 8px 2px 8px;
    color: #fff;
    text-decoration: none;
}








