@import 'reset';

body {
    font-family: 'Lato', sans-serif;
    min-width:320px;
}

.container {
    width: 90%;
    max-width: 902px;
    margin: 0 auto;
}

.block__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text {
    max-width: 520px;
    margin: 0 auto;
}

.block {
    h2 {
        text-align: center;
        font-size: 34px;
        font-weight: 700;
        letter-spacing: 5.44px;
    }
}

.decor {
    position: relative;
    &::before, &::after {
        content: '';
        display: block;
        width: calc((100% - 350px)/2);
        background-color: #3c3c3c;
        height: 2px;
        position: absolute;
        top: 0px;
        transition: all .2s ease;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}

.design-block {
    background: url(../images/background-man.png) top right / cover no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:50px 0 100px;
}

.services-block {
    background: url(../images/background-hand-pen.png) center center /cover no-repeat;
    padding: 129px 0 102px;

}
.about-block {
    padding: 162px 0 159px;
}

.actions-block {
    padding: 119px 0 114px;
}

.design {
    max-width: 500px;

    &__logo {
        width: 67px;
        height: 67px;
        margin: 5px 0 82px 21px;
    }
    &__title {
        text-align: center;
        h1 {
            color: #fff;
            font-size: 54px;
            font-weight: 700;
            letter-spacing: 8.64px;
            text-transform: uppercase;
            margin-bottom: 31px;
        }
    }
    &__text {
        text-align: center;
        color: #fff;
        font-size: 15px;
        line-height: 1.93;
        letter-spacing: 0.9px;
        text-transform: uppercase;
    }
    &__mouse {
        position: absolute;
        height: 40px;
        width: 24px;
        border-radius: 15px;
        border: 2px solid #fff;
        bottom: 50px;
        left: 50%;
        margin-left: -12px;
        &::before {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background-color: #fff;
            position: absolute;
            bottom: 22px;
            left: 41.4%;
        }
    }
}

.about {
    position: relative;
    border: 2px solid #3c3c3c;
    border-top: none;
    &__title {
        position: relative;
        top: -24px;
        text-transform: uppercase;
    }
    &__text {
        color:#3c3c3c;
        padding: 26px 0 0;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        p {
            margin-bottom: 24px;
            &:last-child {
                width: 85%;
                margin: 0 auto 24px;
            }
        }

    }
}

.services {
    width: 100%;
    position: relative;
    border: 2px solid #fff;
    border-top: none;
    &::before, &::after {
        background-color: #fff;
    } 
    &__title {
        color: #fff;
        position: relative;
        top: -24px;
        text-transform: uppercase;
    }
    &__text {
        color: #fff;
        padding: 29px;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.62;
    }
}

.action {
    position: relative;
    border: 2px solid #3c3c3c;
    border-top: none;
    &__title {
        background-color: #fff;
        position: relative;
        top: -20px;
        text-transform: uppercase;
    }
}
.list {
    margin-top: 80px;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-logo {
            width: 80px;
            height: 80px;
            margin: 0 auto;
        }
        &-subtitle {
            padding: 37px 0 26px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 3.2px;
            text-align: center;
            color: #3c3c3c;
            text-transform: uppercase;
        }
        &-text {
            font-size: 14px;
            font-weight: 300;
            line-height: 1.85;
            text-align: center;
            color:#3c3c3c;
            margin-bottom: 19%;
        }
    }
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item {
        position: relative;
        width: calc(29% - 7px);
        margin-bottom: 10px;
    }
    &__big {
        width: calc(42% - 7px);
    }
    &__title {
        color: #fff;
        font-size: 34px;
        font-weight: 700;
        letter-spacing: 5.44px;
        position: absolute;
        bottom: 42px;
        left: 47px;
        text-transform: uppercase;
    }
    &__item--small {
        width: calc(28.5% - 7px);
    }
    &__item--wide {
        width:calc(41.67% - 7px);
    }
    &__item--small, &__item--wide {
        width: 100%;
	    height: 100%;
	    object-fit: cover;
    }
}

.contact {
    margin-top: 138px;
    position: relative;
    border: 2px solid #3c3c3c;
    border-top: none;
    &__title {
        font-size: 30px;
        color: #3c3c3c;
        letter-spacing: 4.8px;
        font-weight: 700;
        background-color: #fff;
        position: relative;
        top: -15px;
        text-transform: uppercase;
        text-align: center;
    }
    &__text {
        color:#3c3c3c;
        padding: 26px 0 0;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 48px;
    }
    .btn {
        &__link {
            display: inline-block;
            max-width: 395px;
            width:80%;
            height: 58px;
            background-color:#3c3c3c;
            font-size: 16px;
            letter-spacing: 2.56px;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            line-height: 58px;
            margin-bottom: 48px;
            transition: all .2s ease;
            &:hover {
                transform: scale(1.02);
                background-color: darken(#3c3c3c, 5);
            }
        }
    }
}
.copy {
    display: flex;
    justify-content: center;
    margin: 63px 0 0;
    padding-bottom: 60px;
    &__logo {
        width: 35px;
        height: 37px;
        top: 20px;
        left: 20px;
    }
    &__text {
        font-size: 14px;
        color: #3c3c3c;
        padding: 12px 0 0 36px;
    }
}


@media screen and (max-width:1000px) {
    .gallery {
        &__title {
            bottom: 23px;
            left: 20px;
        }
    }
}

@media screen and (max-width: 945px) {
    .gallery {
        &__title {
            left: 20px;
        }
    }
}

@media screen and (max-width: 900px) {
    .design-block {
        background: url(../images/background-man.png) top right / cover no-repeat;
    }
    .about-block {
        padding: 120px 0;
    }
    .services-block {
        background: url(../images/background-hand-pen.png) top right / cover no-repeat;
    }
    .gallery {
        &__item, &__big {
            width: calc(50% - 5px);
        }
    }
}

@media screen and (max-height: 620px) {
    .about-block {
        padding: 108px 0;
    }
}

@media screen and (max-height: 540px) {
    .design {
        &__logo {
            margin-bottom: 40px;
        }
        &__title h1{
            font-size: 45px;
        }
        &__text {
            font-size: 13px;
        }
    }
    .list {
        margin-top: 50px;
        &__item {
            &-text {
                margin-bottom: 15%;
            }
        }
    }
}

@media screen and (max-height: 400px) {
    .design {
        &__logo {
            margin: 0 0 33px 21px;
        }
        &__title h1{
            font-size: 40px;
            margin-bottom: 25px;
        }
        &__text {
            font-size: 12px;
        }
    }
    .about-block {
        padding: 88px 0;
    }
    .services-block {
        padding: 88px 0;
    }
    .list {
        margin-bottom: 50px;
    }
    .contact {
        margin-top: 105px;
    }
}



@media screen and (max-width: 600px) {
    .about {
        p {
            width: 85%;
            margin: 0 auto 24px;
        }
    }
    .contact__text {
        width: 85%;
    }
}

@media screen and (max-width: 540px) {
    .gallery {
        &__item, &__big {
            height: 200px;
            width: 100%;
        }
    }
    .list__item {
        &-text {
           width: 85%;
        }
    }
}

@media screen and (max-width: 440px) {
 .decor {
        &::before, &::after {
            width: calc((100% - 270px)/2);
        }
    }
}
@media screen and (max-width: 400px) {
    .action > .title {
        word-spacing: -7px;
    }
    .design {
        &__title h1 {
            font-size: 48px;
        }
        &__text {
            font-size: 13px;
            padding: 0 15px;
        }
    }
}

@media screen and (max-width: 340px) {
    .copy {
        &__logo {
            margin-left: 42px;
        }
        &__text {
            padding: 2px 0 0 25px;
        }
    }
}

@media screen and (max-width: 320px) {
    .design {
        &__title h1 {
            font-size: 40px;
            padding: 0 3px;
        }
        &__text {
            padding: 0 30px;
            font-size: 14px;
        }
    }

    .about {
        p {
            width: 85%;
            margin: 0 auto 24px;
        }
    }
    .action > .title {
        word-spacing: -7px;
    }
    .list__item {
        &-text {
           width: 85%;
        }
    }
    .copy {
        &__logo {
            margin-left: 42px;
        }
        &__text {
            padding: 2px 0 0 25px;
        }
    }
}
