* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a, button {
  transition: all 0.2s ease;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  min-width: 320px;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

.btn {
  display: block;
  width: 225px;
  height: 60px;
  background: #5474fd;
  background: -moz-linear-gradient(45deg, #5474fd 0%, #4164fa 48%, #5474fd 48%);
  background: -webkit-linear-gradient(45deg, #5474fd 0%, #4164fa 48%, #5474fd 48%);
  background: linear-gradient(45deg, #5474fd 0%, #4164fa 48%, #5474fd 48%);
  opacity: 1;
}
.btn:hover {
  transform: scale(1.02);
}
.btn-link {
  font-family: "Aleo", serif;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #fff;
}

.text {
  font-size: 16px;
  line-height: 1.63;
  color: #e8e8e8;
  letter-spacing: -0.6px;
}

.first-screen {
  background: url(../images/background.png) top left/cover no-repeat;
}

.form__actions {
  display: flex;
  justify-content: space-between;
}
.form__actions-input {
  width: 76.92%;
  height: 56px;
  border: none;
  outline: none;
  text-align: center;
}
.form__actions-input:focus {
  box-shadow: 0px 0px 10px 0px #6380fd;
}
.form__actions-input::placeholder {
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 2.8px;
  text-align: center;
  color: #999999;
}

.header {
  padding: 250px 0 138px;
}
.header__top {
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header__top-title .h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2.9px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.header__top-subtitle {
  font-size: 22px;
  letter-spacing: 5.2px;
  word-spacing: 4px;
  text-align: center;
  font-weight: 300;
  color: #fff;
  margin-bottom: 48px;
}
.header__form {
  padding: 2px;
  background-color: #fff;
  width: 100%;
  display: inline-block;
  height: 60px;
  margin-bottom: 120px;
}
.header__form-btn {
  height: 56px;
  width: calc(100% - 77.5%);
  background-color: #5474fd;
  outline: 0;
  border: none;
  color: #fff;
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 1.4px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.2s ease;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 22px;
  padding-right: 4px;
}
.header__form-btn:hover {
  background-color: #fff;
  border: 2px solid #5474fd;
}
.header__form-btn:hover span {
  color: #5474fd;
}
.header__form-btn:hover svg {
  fill: #5474fd;
}
.header__form-btn:focus {
  box-shadow: 0px 0px 10px 0px #6380fd;
}
.header__form-btn svg {
  width: 20px;
  height: 22px;
  fill: white;
}
.header__scroll-text {
  font-size: 13px;
  letter-spacing: 2.8px;
  color: #fff;
  margin-left: 5px;
  margin-bottom: 8px;
}
.header__scroll-icon::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border: 1px solid #fff;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
}

.head {
  height: 80px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.2s ease;
  background-color: #5474fd;
}
.head.fixed {
  height: 60px;
  background-color: rgba(84, 116, 253, 0.8);
  backdrop-filter: blur(3px);
}
.head__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.head__title {
  transition: all 0.2s ease;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: 1.4px;
  color: #fff;
  text-transform: uppercase;
}
.head__menu {
  display: flex;
  justify-content: space-between;
}
.head__menu-item {
  margin-left: 46px;
  position: relative;
}
.head__menu-link {
  font-family: "Aleo", serif;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
.head__menu-link:before {
  content: "";
  width: 100%;
  height: 2px;
  transform: scale(0);
  background-color: #0837fc;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: all 0.3s ease;
}
.head__menu-link:hover:before {
  transform: scale(1);
}
.head .hamburger-btn {
  display: none;
}
.head .hamburger-btn__link {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.head .hamburger-btn__link--black {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
}
.head .hamburger-btn__link--black:before, .head .hamburger-btn__link--black:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  left: 0;
}
.head .hamburger-btn__link--black:before {
  top: 10px;
}
.head .hamburger-btn__link--black:after {
  top: 20px;
}

.choose {
  background: url(../images/background-2.png) top left/cover no-repeat;
}
.choose__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 120px 0;
}
.choose__wrap {
  width: calc(50% - 15px);
  flex-direction: column;
}
.choose__title h2 {
  font-family: "Aleo", serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 0.72;
  color: #fff;
  padding-top: 89px;
  margin-bottom: 62px;
}
.choose__text {
  letter-spacing: 1px;
  margin-bottom: 43px;
}
.choose__text p:first-child {
  padding-bottom: 25px;
}
.choose__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose__box1 {
  position: relative;
  top: 0;
  left: 65px;
}
.choose__box2 {
  display: flex;
  justify-content: flex-end;
}

.steps {
  background-color: #333333;
  padding: 100px 0 118px;
}
.steps__wrap {
  display: flex;
  justify-content: space-around;
}
.steps__block {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.steps__block-search {
  width: 58px;
  height: 57px;
  margin-bottom: 37px;
}
.steps__block-check {
  width: 60px;
  height: 61px;
  margin-bottom: 33px;
}
.steps__block-like {
  width: 62px;
  height: 59px;
  margin-bottom: 35px;
}
.steps__block:nth-child(2) {
  margin: 0 40px;
}
.steps__text {
  font-family: "Aleo", serif;
  font-size: 36px;
  line-height: 0.72;
  color: #e8e8e8;
  text-align: center;
}

.card-bg1 {
  background: url(../images/background-3.png) center center/cover no-repeat;
}

.card-bg2 {
  background: url(../images/background-4.png) center center/cover no-repeat;
}

.card {
  padding: 229px 0 100px;
}
.card__wrap {
  background-color: rgba(35, 35, 35, 0.9);
  width: calc(50% - 15px);
}
.card__descr {
  padding: 47px 25px 50px 30px;
}
.card__descr-title h3 {
  font-size: 20px;
  font-weight: 300;
  color: #e8e8e8;
  line-height: 1.3;
  letter-spacing: 1.5px;
  padding-bottom: 24px;
}
.card__descr-subtitle {
  font-size: 20px;
  line-height: 1.3;
  word-spacing: -3px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 18px;
}
.card__descr-text {
  margin-bottom: 42px;
}
.card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__reverse {
  display: flex;
  flex-direction: row-reverse;
}

.review {
  background: url(../images/background-5.png) top left/cover no-repeat;
  padding: 114px 0 200px;
}
.review__title h2 {
  font-family: "Aleo", serif;
  font-weight: 300;
  font-size: 37px;
  color: #fff;
  text-align: center;
  margin-bottom: 89px;
}
.review__wrap {
  display: flex;
  flex-direction: column;
}
.review__block {
  display: flex;
}
.review__block-img {
  width: 40%;
}
.review__block-img img {
  width: 100%;
  height: 100%;
}
.review__block-comment {
  width: 60%;
  background-color: #333333;
  padding: 50px 37px 42px 60px;
}
.review__block-name {
  font-size: 20px;
  line-height: 1.3;
  word-spacing: -3px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 37px;
}
.review__block-text i {
  color: #5474fd;
  position: relative;
  top: -13px;
  left: 1px;
  margin-right: 3px;
}

.footer-ct {
  display: flex;
  flex-direction: column;
}

.footer-block {
  background-color: #232323;
  padding: 120px 0 49px;
  color: #fff;
  text-align: center;
}
.footer-block__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: 2.36px;
  text-transform: uppercase;
  padding-bottom: 4px;
}
.footer-block__subtitle {
  line-height: 1.63;
  letter-spacing: 1px;
}
.footer-block__list {
  display: flex;
  justify-content: space-between;
  width: 16%;
  margin: 23px auto 0;
}
.footer-block__item:hover i {
  color: #5474fd;
}
.footer-block__link {
  color: #fff;
}

@media screen and (max-width: 1330px) {
  .choose__box1 {
    position: static;
  }
}
@media screen and (max-width: 1230px) {
  .container-card {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1210px) {
  .review__block {
    flex-direction: column-reverse;
  }
  .review__block-comment {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .card__wrap {
    width: calc(100% - 15px);
  }

  .footer-block__list {
    width: 20%;
  }
}
@media screen and (max-width: 956px) {
  .choose__wrap-pic {
    flex-direction: row;
  }
}
@media screen and (max-width: 940px) {
  .review__block-img {
    width: 60%;
  }
}
@media screen and (max-width: 812px) {
  .head__menu {
    display: none;
  }

  .head .hamburger-btn {
    display: block;
  }
}
@media screen and (max-width: 810px) {
  .choose__top {
    flex-direction: column;
  }
  .choose__wrap {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .choose__pic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .choose__box1, .choose__box2 {
    width: calc(50% - 15px);
  }
  .choose__img {
    width: 100%;
  }
  .choose__btn {
    margin-bottom: 30px;
  }
  .choose__text {
    text-align: center;
  }
}
@media screen and (max-width: 793px) {
  .steps__text {
    line-height: 1;
  }
}
@media screen and (max-width: 760px) {
  .footer-block__list {
    width: 30%;
  }
}
@media screen and (max-width: 610px) {
  .header__form-btn {
    padding: 0;
  }
  .header__form-btn svg {
    width: 47px;
    height: 40px;
  }
  .header__form-btn span {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .choose__title h2 {
    padding-top: 0;
  }
  .choose__pic {
    flex-direction: column;
  }
  .choose__box1, .choose__box2 {
    width: 100%;
    margin-bottom: 28px;
  }

  .steps__wrap {
    flex-direction: column;
  }
  .steps__block:nth-child(2) {
    margin: 80px 0;
  }

  .review__block-img {
    width: 100%;
  }
  .review__block-comment {
    padding-left: 25px;
  }
}
@media screen and (max-width: 550px) {
  .review {
    padding-bottom: 50px;
  }

  .footer-block {
    padding-top: 95px;
  }
}
@media screen and (max-width: 460px) {
  .footer-block__list {
    width: 45%;
  }
}
@media screen and (max-width: 360px) {
  .form__actions-input::placeholder {
    font-size: 15px;
    letter-spacing: 0.3px;
  }
}
@media screen and (max-width: 351px) {
  .header__top-title .h1 {
    font-size: 45px;
  }
  .header__top-subtitle {
    font-size: 19px;
    letter-spacing: 5.1px;
  }
}