* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
}

body {
  background: url(../images/traveller.png) top right 231px no-repeat;
}

.container {
  width: 90%;
  max-width: 1196px;
  margin: 0 auto;
}

.header {
  margin: 47px 0 130px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  margin-left: 18px;
  margin-top: -3px;
}
.header__logo svg {
  width: 117px;
  height: 36px;
}
.header .menu__list {
  display: flex;
}
.header .menu__list-item {
  font-family: "Google Sans";
}
.header .menu__list-item:nth-child(6) {
  margin-left: 24px;
  margin-right: 96px;
}
.header .menu__list-item:nth-child(5) {
  margin-left: 43px;
}
.header .menu__list-item:nth-child(4) {
  margin-left: 23px;
}
.header .menu__list-item:nth-child(3) {
  margin-left: 14px;
}
.header .menu__list-item:nth-child(2) {
  margin-left: 5px;
}
.header .menu__list-item:nth-child(1) > .menu__list-link {
  width: 150px;
}
.header .menu__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 40px;
  border-radius: 5px;
  font-size: 17px;
  color: #212832;
}
.header .menu__list-link:hover, .header .menu__list-link:focus {
  border: 1px solid #212832;
}

.first-page {
  position: relative;
  margin-bottom: 222px;
}
.first-page__promo {
  font-family: "Poppins";
  font-weight: bold;
  color: #DF6951;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 29px;
  margin-bottom: 14px;
  letter-spacing: 0.1px;
  margin-bottom: 25px;
}
.first-page__title {
  font-family: "Volkhov";
  color: #181e4b;
  font-size: 84px;
  font-weight: 700;
  width: 598px;
  margin-bottom: 31px;
  margin-left: 29px;
  line-height: 88.8px;
  letter-spacing: -3.5px;
}
.first-page__decorate {
  position: absolute;
  left: 271px;
  top: 123px;
  z-index: -1;
}
.first-page__descr {
  font-family: "Poppins";
  font-weight: 500;
  color: #5e6282;
  font-size: 16px;
  width: 456.64px;
  margin-bottom: 33px;
  margin-left: 27px;
  line-height: 30px;
  letter-spacing: 0.02px;
}
.first-page .link {
  display: flex;
  align-items: center;
  margin-left: 27px;
}
.first-page .link__item {
  margin-right: 44px;
}
.first-page .link__item--yellow {
  font-family: "Google Sans";
  width: 170px;
  height: 60px;
  background-color: #F1A501;
  border-radius: 10px;
  border: 1px solid transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  box-shadow: -1px 8px 20px rgba(241, 165, 1, 0.3);
}
.first-page .link__item--yellow:hover {
  background-color: #fff;
  border: 1px solid #F1A501;
  color: #F1A501;
}
.first-page .link__btn {
  margin-right: 21px;
}
.first-page .link__btn-play {
  display: flex;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #DF6951;
  position: relative;
  box-shadow: 0 15px 30px rgba(223, 105, 81, 0.3);
}
.first-page .link__btn-play::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 12px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  position: absolute;
  left: 21px;
  top: 19px;
  transition: all 0.2s ease;
}
.first-page .link__btn-play:hover {
  background-color: #fff;
  border-color: #DF6951;
}
.first-page .link__btn-play:hover::before {
  border-left: 12px solid #DF6951;
}
.first-page .link span {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 17px;
  color: #686d77;
  margin-top: 4px;
}

.category {
  text-align: center;
  max-width: 1174px;
  margin: 0 auto 156px;
  position: relative;
}
.category .crosess {
  position: absolute;
  top: -8px;
  right: -75px;
}
.category__promo {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  color: #5e6282;
  text-transform: uppercase;
  margin-left: -37px;
  margin-bottom: 10px;
}
.category__title {
  font-family: "Volkhov";
  font-weight: bold;
  font-size: 50px;
  color: #14183e;
  margin-left: -36px;
  margin-bottom: 110px;
}
.category__list {
  display: flex;
  justify-content: space-between;
  margin-left: -18px;
}
.category__list-item {
  width: calc(25% - (87px / 3));
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 36px;
  margin-right: 18px;
  position: relative;
  transition: all 0.2s ease;
  background-color: #fff;
}
.category__list-item:hover {
  box-shadow: 0 50px 38px rgba(0, 0, 0, 0.05);
}
.category__list-item:hover::before {
  opacity: 1;
}
.category__list-item::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-color: #DF6951;
  border-radius: 30px 0 10px 0;
  position: absolute;
  left: -34px;
  bottom: -44px;
  z-index: -1;
  opacity: 0;
  transition: all 0.2s ease;
  transition: ease opacity 0.3s;
  transition-delay: 0s;
}
.category__list-item:hover::before {
  opacity: 1;
}
.category__list-item .icon-1 {
  width: 92px;
  height: 78px;
  margin-left: 7px;
  margin-bottom: 8px;
}
.category__list-item .icon-2 {
  width: 166px;
  height: 153px;
}
.category__list-item .icon-3 {
  margin: -2px 0 11px 21px;
}
.category__list-item .icon-4 {
  width: 77px;
  height: 66px;
  margin: 10px 0 8px 17px;
}
.category__list-title {
  font-family: "Open Sans";
  font-size: 20px;
  color: #1e1d4c;
  margin: 22px 0 15px;
}
.category__list-descr {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  color: #5e6282;
  padding: 0 44px 0;
  margin-bottom: 36px;
}

.top-selling {
  text-align: center;
  margin-bottom: 193px;
  position: relative;
}
.top-selling__promo {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  color: #5e6282;
  margin-bottom: 8px;
}
.top-selling__title {
  font-family: "Volkhov";
  font-size: 50px;
  color: #14183E;
  margin-bottom: 60px;
}
.top-selling .decore-2 {
  position: absolute;
  bottom: 49px;
  right: -20px;
  z-index: -1;
}

.card {
  display: flex;
  justify-content: space-around;
}
.card__item {
  position: relative;
  box-shadow: 0 50px 38px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 24px 24px;
}
.card__item img {
  border-radius: 0 0 24px 24px;
}
.card__info {
  position: absolute;
  width: 315px;
  height: 130px;
  border-radius: 0 0 24px 24px;
  padding: 27px 25px 20px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}
.card__info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  font-weight: 500;
  color: #5E6282;
  font-size: 18px;
  margin-bottom: 19px;
}
.card__info-duration {
  display: flex;
  align-items: center;
}
.card__info-duration svg {
  width: 18px;
  height: 18px;
  margin-right: 15px;
}
.card__info-duration span {
  font-family: "Poppins";
  font-weight: 500;
  color: #5E6282;
  font-size: 16px;
}

.easy-fast {
  margin-bottom: 200px;
}
.easy-fast__promo {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  color: #5e6282;
  margin-left: 67px;
  margin-bottom: 15px;
}
.easy-fast__wrapper {
  display: flex;
}

.wrapper__block-2 {
  margin-left: 130px;
}
.wrapper__box {
  display: flex;
  flex-direction: column;
}
.wrapper__box-title {
  margin-bottom: 31px;
  font-family: "Volkhov";
  font-size: 50px;
  color: #14183e;
  margin-left: 64px;
}

.block {
  display: flex;
  align-items: center;
}
.block__square {
  width: 47px;
  height: 48px;
  background-color: #F0BB1F;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-left: 65px;
  margin-bottom: 54px;
}
.block__square svg {
  width: 22px;
  height: 22px;
}
.block__square-2 {
  background-color: #F15A2B;
}
.block__square-3 {
  background-color: #006380;
}
.block__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.block__text-title {
  margin-bottom: 4px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 16px;
  color: #5E6282;
}
.block__text-descr {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: #5e6282;
}

.like:hover ~ .like-hover {
  opacity: 1;
  z-index: 1;
}

.white-block {
  padding: 20px 24px 0 25px;
  width: 370px;
  background-color: #fff;
  border-radius: 26px;
  box-shadow: -35px 50px 82px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 36px;
}
.white-block .like-hover {
  width: 263px;
  height: 129px;
  background-color: #fff;
  position: absolute;
  right: -100px;
  bottom: 55px;
  padding: 15px 20px 22px 20px;
  opacity: 0;
  display: flex;
  border-radius: 18px;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
  z-index: -1;
}
.white-block .like-hover img {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}
.white-block .like-hover__text {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Poppins";
  font-weight: 500;
}
.white-block .like-hover__text-promo {
  margin-top: -3px;
  font-size: 14px;
  color: #84829a;
}
.white-block .like-hover__text-title {
  margin-bottom: 8px;
  font-size: 18px;
  color: #080809;
}
.white-block .like-hover__text-download {
  margin-bottom: 7px;
  color: #080809;
}
.white-block .like-hover__text-download span {
  color: #8A79DF;
}
.white-block .like-hover__text-line {
  width: 100%;
  height: 5px;
  display: flex;
  border-radius: 30px;
}
.white-block .like-hover__text-line .first {
  width: 50%;
  background-color: #8a79df;
}
.white-block .like-hover__text-line .second {
  width: 60%;
  background-color: #f5f5f5;
}
.white-block::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 10px;
  width: 70%;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  box-shadow: 30px -20px 100px rgba(89, 177, 230, 0.7);
}
.white-block img {
  margin-bottom: 19px;
}
.white-block__title {
  margin-bottom: 9px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: #080809;
}
.white-block__date {
  margin-bottom: 18px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  color: #84829A;
}

.quantity {
  display: flex;
  justify-content: space-between;
  padding-bottom: 27px;
}
.quantity__wrap {
  display: flex;
}
.quantity__wrap svg {
  width: 16px;
  height: 16px;
  margin-right: 15px;
}
.quantity__wrap span {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  color: #84829A;
}
.quantity .like {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.icon {
  display: flex;
  margin-bottom: 30px;
}
.icon__elem {
  width: 36px;
  height: 36px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
}
.icon__elem svg {
  width: 14px;
  height: 14px;
}

.firms {
  margin-bottom: 162px;
}
.firms__list {
  display: flex;
  justify-content: space-between;
  margin-left: 39px;
}
.firms__list-item {
  width: calc(25% - 90px);
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.firms__list-item:hover {
  box-shadow: 0 70px 200px rgba(0, 0, 0, 0.2);
}
.firms__list-item img {
  background-blend-mode: luminosity;
}

.subscribe {
  max-width: 1170px;
  margin: 0 auto 166px;
  position: relative;
}
.subscribe__wrap {
  background: rgba(223, 215, 249, 0.3) url(../images/decore-3.png) top right no-repeat;
  border-radius: 129px 20px 20px 20px;
  padding: 79px 155px 0 156px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__wrap-title {
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 33px;
  color: #5e6282;
  margin-bottom: 74px;
}
.subscribe .icon-send {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -23px;
  top: -16px;
  border-radius: 50%;
  background: #747def;
  background: -moz-linear-gradient(180deg, #747def 0%, #5e3be1 100%);
  background: -webkit-linear-gradient(180deg, #747def 0%, #5e3be1 100%);
  background: linear-gradient(180deg, #747def 0%, #5e3be1 100%);
}
.subscribe .icon-send::before {
  content: "";
  display: block;
  width: 15px;
  height: 3px;
  position: absolute;
  top: 37px;
  right: 33px;
  border-radius: 3px;
  transform: rotate(154deg);
  background: #747def;
  background: -moz-linear-gradient(180deg, #747def 0%, #5e3be1 100%);
  background: -webkit-linear-gradient(180deg, #747def 0%, #5e3be1 100%);
  background: linear-gradient(180deg, #747def 0%, #5e3be1 100%);
}
.subscribe .icon-send svg {
  width: 46px;
  height: 40px;
}

.form {
  margin-bottom: 78px;
}
.form__box {
  display: flex;
  position: relative;
}
.form__box-input {
  background-color: #fff;
  width: 421px;
  height: 68px;
  margin-right: 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 66px;
}
.form__box-input::placeholder {
  font-family: "Montserrat";
  font-size: 14px;
  color: #39425D;
  position: relative;
}
.form__box-decore::before {
  content: "";
  display: block;
  width: 19px;
  height: 16px;
  border: 1px solid #39425D;
  position: absolute;
  left: 30px;
  top: 23px;
  border-radius: 5px;
}
.form__box-decore::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 7px;
  left: 36px;
  top: 24px;
  transform: skewX(-14deg) rotate(38deg);
  border-right: 1px solid #39425D;
  border-bottom: 1px solid #39425D;
  border-radius: 0 0 2px 0;
}
.form__box-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF946D;
  width: 180px;
  border: none;
  border-radius: 10px;
  font-family: "Google Sans";
  font-size: 17px;
  color: #fff;
  cursor: pointer;
}

.footer__bottom {
  color: #5E6282;
  font-family: "Poppins";
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding-bottom: 79px;
}
.footer__list {
  padding-bottom: 86px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__list-item {
  flex-direction: column;
}
.footer__list-item:nth-last-child(1) {
  display: flex;
}
.footer__list-item:nth-last-child(1) span {
  display: flex;
  margin-bottom: 20px;
}
.footer__list-item:nth-last-child(1) .item__text-box {
  margin-bottom: 20px;
}
.footer__list .item__text {
  font-family: "Poppins";
  font-weight: 500;
  color: #5e6282;
}
.footer__list .item__text-logo {
  font-size: 44px;
  color: #181e4b;
  margin-bottom: 45px;
}
.footer__list .item__text-descr {
  font-size: 13px;
}
.footer__list .item__text-promo {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 21px;
  color: #080809;
}
.footer__list .item__text-link {
  font-size: 18px;
}
.footer__list .item__text span {
  font-size: 20px;
}
.footer__list .item__text-googleplay {
  display: flex;
  flex-direction: column;
}
.footer__list .item__text-googleplay span {
  color: #fff;
  font-size: 7px;
  text-transform: uppercase;
}
.footer__list .item__text-apple {
  display: flex;
  flex-direction: column;
}
.footer__list .item__text-apple span {
  color: #fff;
  font-size: 7px;
  text-transform: uppercase;
}
.footer__list .item__text-box {
  display: flex;
}
.footer__list .item__text-box .google-play {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #080809;
  width: 107px;
  height: 35px;
  border-radius: 17.5px;
  margin-right: 7px;
}
.footer__list .item__text-box .google-play svg {
  width: 20px;
  height: 20px;
}
.footer__list .item__text-box .apple-store {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #080809;
  width: 10px;
  height: 35px;
  border-radius: 17.5px;
}
.footer__list .item__text-box .apple-store svg {
  width: 14px;
  height: 16px;
}
.footer__list .item__text-iconlink {
  margin-right: 25px;
}
.footer__list .item__text-iconlink a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
.footer__list .item__text-twitter svg {
  width: 16px;
  height: 13px;
}
.footer__list .item__text-instagramm svg {
  width: 16px;
  height: 16px;
}
.footer__list .item__text-facebook svg {
  width: 7px;
  height: 13px;
}