@import 'reset';

body {
    background: url(../images/traveller.png) top right no-repeat;
    min-width: 380px;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1196px;
    margin: 0 auto;
    height: 100%;
}

main {
    padding-top: 207px;
}

.header {
    height: 133px;
    // align-items: center;
    // margin: 0 0 84px;
    // margin: 47px 0 130px;
    // display: flex;
    // justify-content: space-between;
    // position: fixed;
    position: fixed;
    z-index: 999;
    transition: all .2s ease;
    width: 100%;
    &__wrap {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }
    &.fixed {
        height: 60px;
        box-shadow: 0 0 3px #999;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(3px);
    }
    &__logo {
        display: flex;
        align-items: center;
        margin-left: 18px;
        margin-top: -3px;
        svg {
            width: 117px;
            height: 36px;
        }
    }
    .menu {
        &__list {
            display: flex;
            &-item {
                font-family: 'Google Sans';
            }
            &-item:nth-child(6){
                margin-left: 24px;
            }
            &-item:nth-child(5){
                margin-left: 43px;
            }
            &-item:nth-child(4){
                margin-left: 23px;
            }
            &-item:nth-child(3){
                margin-left: 14px;
            }
            &-item:nth-child(2){
                margin-left: 5px;
            }
            &-item:nth-child(1) > .menu__list-link{
                width: 150px;
            }
            &-link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 102px;
                height: 40px;
                border-radius: 5px;
                font-size: 17px;
                color: #212832;
                &:hover, &:focus {
                    border: 1px solid #212832;
                }   
            }
        }
    }
}

.hamburger {
    display: none;
}

#menu-shadow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
    backdrop-filter: blur(3px);
    display: none;
    z-index: 10000;
}

#mobile-menu-block {
    position: fixed;
    right: -110%;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 400px; // На мобильных меньше 400 пикселей, меню раскрывается полностью
    background-color: #fff;
    z-index: 10001;
    transition: all .2s ease;
    box-shadow: 0 0 5px #000;
    .mobile-menu {
        height: calc(100vh - 80px);
        overflow-y: scroll;
        .menu__list {
            .menu__list-item {
                border-bottom: 1px solid lighten(#000, 30);
            }
            .menu__list-link {
                display: inline-block;
                padding: 15px;
                font-size: 18px;
                text-decoration: none;
                text-transform: uppercase;
                color: #232323;
                width: 100%;
            }
        }
    }
}

.open #menu-shadow {
    display: block;
}

.open #mobile-menu-block {
    right: 0;
}

.mmb-top {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #eeeeee;
    align-items: center;
    border-bottom: 1px solid lighten(#000, 30);
    .mmb-logo {
        font-size: 30px;
        svg {
            width: 117px;
            height: 36px;
        }
    }
}

.lock {
    overflow: hidden;
}

.to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #000;
    &:after, &:before {
        content: '';
        display: block;
        background-color: #000;
        position: absolute;
    }
    &:after {
        left: 23px;
        top: 9px;
        width: 2px;
        height: 32px;
    }
    &:before {
        width: 10px;
        height: 10px;
        background-color: transparent;
        border: 2px solid #000;
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        left: 17px;
        top: 10px;
        transform: rotate(135deg);
    }
}

.to-top-block {
    display: block;
}

// .hamburger_btn {
//     display: none;
//     a {
//         display: inline-block;
//         width: 40px;
//         height: 40px;
//         span {
//             display: inline-block;
//             position: relative;
//             width: 100%;
//             height: 4px;
//             border-radius: 2px;
//             background-color: #000;
//             &:before, &:after {
//                 content: '';
//                 display: inline-block;
//                 position: absolute;
//                 width: 100%;
//                 height: 4px;
//                 border-radius: 2px;
//                 background-color: #000;
//                 left: 0;
//             }
//             &:before {
//                 top: 10px;
//             }
//             &:after {
//                 top: 20px;
//             }
//         }
//     }
// }

.first-page {
    position: relative;
    margin-bottom: 222px;
    &__promo {
        font-family: 'Poppins';
        font-weight: bold;
        color: #DF6951;
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 29px;
        margin-bottom: 14px;
        letter-spacing: 0.1px;
        margin-bottom: 25px;
    }
    &__title {
        font-family: 'Volkhov';
        color: #181e4b;
        font-size: 84px;
        font-weight: 700;
        width: (50% * 1196px) / 100%;
        margin-bottom: 31px;
        margin-left: 29px;
        line-height: 88.8px;
        letter-spacing: -3.5px;
    }
    &__decorate {
        position: absolute;
        left: 23%;
        top: 123px;
        z-index: -1;
    }
    &__descr {
        font-family: 'Poppins';
        font-weight: 500;
        color: #5e6282;
        font-size: 16px;
        width: ((34% * 1196px) / 100%) + 50px;
        margin-bottom: 33px;
        margin-left: 27px;
        line-height: 30px;
        letter-spacing: 0.02px;
    }
    .link {
        display: flex;
        align-items: center;
        margin-left: 27px;
        &__item {
            margin-right: 44px;
            &--yellow {
                font-family: 'Google Sans';                
                width: 170px;
                height: 60px;
                background-color: #F1A501;
                border-radius: 10px;
                border: 1px solid transparent;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                box-shadow:-1px 8px 20px rgba(241, 165, 1, .3);
                &:hover {
                    background-color: #fff;
                    border: 1px solid #F1A501;
                    color: #F1A501;
                }
            }
        }
        &__btn {
            margin-right: 21px;
            &-play {
                display: flex;
                width: 52px;
                height: 52px;
                border-radius: 50%;
                border: 1px solid transparent;
                background-color: #DF6951;
                position: relative;
                box-shadow: 0 15px 30px rgb(223 105 81 / .3);
                &::before {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border-left: 12px solid #fff;
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent;
                    position: absolute;
                    left: 21px;
                    top: 19px;
                    transition: all .2s ease;
                }
                &:hover {
                    background-color: #fff;
                    border-color: #DF6951;
                    &::before {
                        border-left: 12px solid #DF6951;
                    }
                }
            }
        }
        span {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 17px;
            color: #686d77;
            margin-top: 4px;
            transition: all .2s ease;
            margin-left: 70px;
        }
    }
}

.category {
    text-align: center;
    max-width: 1174px;
    margin: 0 auto 156px;
    position: relative;
    .crosess {
        position: absolute;
        top: -8px;
        right: -75px;
    }
    &__promo {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 18px;
        color: #5e6282;
        text-transform: uppercase;
        margin-left: -37px;
        margin-bottom: 10px;
    }
    &__title {
        font-family: 'Volkhov';
        font-weight: bold;
        font-size: 50px;
        color: #14183e;
        margin-left: -36px;
        margin-bottom: 110px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: -18px;
        &-item {
            width: calc(25% - (87px / 3));
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 36px;
            margin-right: 18px;
            position: relative;
            transition: all .2s ease;
            background-color: #fff;
            &:hover {
                box-shadow: 0 50px 38px rgb(0 0 0 / 5%);
            }
            &:hover::before {
                opacity: 1;
            }
            &::before {
                content: '';
                display: block;
                width: 100px;
                height: 100px;
                background-color: #DF6951;
                border-radius: 30px 0 10px 0;
                position: absolute;
                left: -34px;
                bottom: -44px;
                z-index: -1;
                opacity: 0;
                transition: all .2s ease;
                transition: ease opacity 0.3s;
                transition-delay: .0s;
            }
            &:hover::before {
                opacity: 1;
            }
            .icon-1 {
                width: 92px;
                height: 78px;
                margin-left: 7px;
                margin-bottom: 8px;
                
            }
            .icon-2 {
                width: 166px;
                height: 153px;
                
            }
            .icon-3 {
                margin: -2px 0 11px 21px;
            }
            .icon-4 {
                width: 77px;
                height: 66px;
                margin: 10px 0 8px 17px;
            }
        }
        &-title {
            font-family: 'Open Sans';
            font-size: 20px;
            color: #1e1d4c;
            margin: 22px 0 15px;
        }
        &-descr {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 16px;
            color: #5e6282;
            padding: 0 44px 0;
            margin-bottom: 36px;
        }
    }
    
}

.top-selling {
    text-align: center;
    margin-bottom: 193px;
    position: relative;
    &__promo {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 18px;
        color: #5e6282;
        margin-bottom: 8px;
    }
    &__title {
        font-family: 'Volkhov';
        font-size: 50px;
        color: #14183E;
        margin-bottom: 60px;
    }
    .decore-2 {
        position: absolute;
        bottom: 49px;
        right: -20px;
        z-index: -1;
    }
}

.card {
    display: flex;
    justify-content: space-around;
    &__item {
        position: relative;
        box-shadow: 0 50px 38px rgb(0 0 0 / 5%);
        border-radius: 0 0 24px 24px;
        margin: 25px;
        img {
            border-radius: 0 0 24px 24px;
            width: 100%;
        }
    }
    &__info {
        position: absolute;
        width: 100%;
        border-radius: 0 0 24px 24px;
        padding: 25px 18px 42px;
        background-color: #fff;
        bottom: 0;
        left: 0;
        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Poppins';
            font-weight: 500;
            color: #5E6282;
            font-size: 18px;
            margin-bottom: 13px;
        }
        &-duration {
            display: flex;
            align-items: center;
            svg {
                width: 18px;
                height: 18px;
                margin-right: 15px;
            }
            span {
                font-family: 'Poppins';
                font-weight: 500;
                color: #5E6282;
                font-size: 16px;
            }
        }
    }
}


.easy-fast {
    margin-bottom: 200px;
    &__promo {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 18px;
        color: #5e6282;
        margin-left: 67px;
        margin-bottom: 15px;
    }
    &__wrapper {
        display: flex;
    }
}


.wrapper {
    &__block-2 {
        margin-left: 130px;
    }
    &__box {
        display: flex;
        flex-direction: column;
        &-title {
            margin-bottom: 31px;
            font-family: 'Volkhov';
            font-size: 50px;
            color: #14183e;
            margin-left: 64px;
        }
    }
}


.block {
    display: flex;
    align-items: center;
    &__square {
        width: 47px;
        height: 48px;
        background-color: #F0BB1F;
        border-radius: 13px;
        display: flex;  // Выставляем квадрат по середине
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        margin-left: 65px;
        margin-bottom: 54px;
        svg {
            width: 22px;
            height: 22px;
        }
    }
    &__square-2 {
        background-color: #F15A2B;
    }
    &__square-3 {
        background-color: #006380;
    }
    &__text {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        &-title {
            margin-bottom: 4px;
            font-family: 'Poppins';
            font-weight: bold;
            font-size: 16px;
            color: #5E6282;
        }
        &-descr {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 16px;
            color: #5e6282;
        }
    }
}

// блок с женщиной

.like:hover ~ .like-hover{
    opacity: 1;
    z-index: 1;
}

.white-block {
    padding: 20px 24px 0 25px;
    width: 370px;
    background-color: #fff;
    border-radius: 26px;
    box-shadow: -35px 50px 82px rgb(0 0 0 / 10%);
    position: relative;
    margin-top: 36px;
    .like-hover {
        width: 263px;
        height: 129px;
        background-color: #fff;
        position: absolute;
        right: -100px;
        bottom: 55px;
        padding: 15px 20px 22px 20px;
        opacity: 0;
        display: flex;
        border-radius: 18px;
        box-shadow: 0 0 200px rgba(0, 0, 0, .15);
        transition: all .2s ease;
        z-index: -1;
        img {
            width: 50px;
            height: 50px;
            margin-right: 12px;
        }
        &__text {
            display: flex;
            flex-direction: column;
            flex: 1;
            font-family: 'Poppins';
            font-weight: 500;
            &-promo {
                margin-top: -3px;
                font-size: 14px;
                color: #84829a;
            }
            &-title {
                margin-bottom: 8px;
                font-size: 18px;
                color: #080809
            }
            &-download {
                margin-bottom: 7px;
                color: #080809;
                span {
                    color: #8A79DF;
                }
            }
            &-line {
                width: 100%;
                height: 5px;
                display: flex;
                border-radius: 30px;
                .first {
                    width: 50%;
                    background-color: #8a79df;
                }
                .second {
                    width: 60%;
                    background-color: #f5f5f5;
                }
            }
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 25px;
        right: 10px;
        width: 70%;
        height: 50px;
        background: rgba(0, 0, 0, .3);
        z-index: -1;
        box-shadow: 30px -20px 100px rgba(89, 177, 230, .7);
    }
    img {
        margin-bottom: 19px;
    }
    &__title {
        margin-bottom: 9px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 18px;
        color: #080809;
    }
    &__date {
        margin-bottom: 18px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 16px;
        color: #84829A;
    }
}

.quantity {
    display: flex;
    justify-content: space-between;
    padding-bottom: 27px;
    &__wrap {
        display: flex;
        svg {
            width: 16px;
            height: 16px;
            margin-right: 15px;
        }
        span {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 16px;
            color: #84829A;
        }
    }
    .like {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

.icon {
    display: flex;
    margin-bottom: 30px;
    &__elem {
        width: 36px;
        height: 36px;
        background-color: #f5f5f5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 18px;
        svg {
            width: 14px;
            height: 14px;
        }
    }
    
}


.firms {
    margin-bottom: 162px;
    &__list {
        display: flex;
        justify-content: space-between;
        margin-left: 39px;
        &-item {
            width: calc(25% - 90px);
            height: 86px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            transition: all .2s ease;
            &:hover {
                box-shadow: 0 70px 200px rgba(0, 0, 0, .2);
            }
            img {
                background-blend-mode: luminosity;
            }
        }

    }
}

.subscribe {
    max-width: 1170px;
    margin: 0 auto 166px;
    position: relative;
    &__wrap {
        background: rgba(223, 215, 249, 0.3) url(../images/decore-3.png) top right no-repeat;
        border-radius: 129px 20px 20px 20px;
        padding: 79px 155px 0 156px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title {
            text-align: center;
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 33px;
            color: #5e6282;
            margin-bottom: 74px;
        }
    }
    .icon-send {
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -23px;
        top: -16px;
        border-radius: 50%;
        background: rgb(116,125,239);
        background: -moz-linear-gradient(180deg, rgba(116,125,239,1) 0%, rgba(94,59,225,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(116,125,239,1) 0%, rgba(94,59,225,1) 100%);
        background: linear-gradient(180deg, rgba(116,125,239,1) 0%, rgba(94,59,225,1) 100%);
        &::before {
            content: '';
            display: block;
            width: 15px;
            height: 3px;
            position: absolute;
            top: 37px;
            right: 33px;
            border-radius: 3px;
            transform: rotate(154deg);
            background: rgb(116,125,239);
            background: -moz-linear-gradient(180deg, rgba(116,125,239,1) 0%, rgba(94,59,225,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(116,125,239,1) 0%, rgba(94,59,225,1) 100%);
            background: linear-gradient(180deg, rgba(116,125,239,1) 0%, rgba(94,59,225,1) 100%);
        }
        svg {
            width: 46px;
            height: 40px;
        }
    }
}

.form {
    margin-bottom: 78px;
    &__box {
        display: flex;
        position: relative;
        &-input {
            background-color: #fff;
            width: 421px;
            height: 68px;
            margin-right: 24px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            padding-left: 66px;
            &::placeholder {
                font-family: 'Montserrat';
                font-size: 14px;
                color: #39425D;
                position: relative;
            }
        }
        &-decore {
            &::before {
                content: "";
                display: block;
                width: 19px;
                height: 16px;
                border: 1px solid #39425D;
                position: absolute;
                left: 30px;
                top: 23px;
                border-radius: 5px;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 8px;
                height: 7px;
                left: 36px;
                top: 24px;
                transform: skewX(-14deg) rotate(38deg);
                border-right: 1px solid #39425D;
                border-bottom: 1px solid #39425D;
                border-radius: 0 0 2px 0;
            }
        }
        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FF946D;
            height: 68px;
            width: 180px;
            border: none;
            border-radius: 10px;
            font-family: 'Google Sans';
            font-size: 17px;
            color: #fff;
            cursor: pointer;
        }
    }
}

.footer {
    &__bottom {
        color: #5E6282;
        font-family: 'Poppins';
        font-weight: 500;
        display: flex;
        justify-content: center;
        padding-bottom: 79px;
    }
    &__list {
        padding-bottom: 86px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-item {
            flex-direction: column; 
        }
        &-item:nth-last-child(1) {
            display: flex;
            span {
                display: flex;
                margin-bottom: 20px;
            }
            .item__text {
                &-box {
                    margin-bottom: 20px;
                }
            }
        }
        .item__text {
            font-family: 'Poppins';
            font-weight: 500;
            color: #5e6282;
            &-logo {
                font-size: 44px;
                color: #181e4b;
                margin-bottom: 45px;
            }
            &-descr {
                font-size: 13px;
            }
            &-promo {
                font-family: 'Poppins';
                font-weight: bold;
                font-size: 21px;
                color: #080809;
            }
            &-link {
                font-size: 18px;
                a {
                    color: #5e6282;
                }
            }
            span {
                font-size: 20px;
            }
            &-googleplay {
                display: flex;
                flex-direction: column;
                span {
                    color: #fff;
                    font-size: 7px;
                    text-transform: uppercase;
                    margin-bottom: 0;
                }
            }
            &-apple {
                display: flex;
                flex-direction: column;
                span {
                    color: #fff;
                    font-size: 7px;
                    text-transform: uppercase;
                    margin-bottom: 0;
                }
            }
            &-box {
                display: flex;
                .google-play {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #080809;
                    width: 107px;
                    height: 35px;
                    border-radius: 17.5px;
                    margin-right: 7px;
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
                .apple-store {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #080809;
                    width: 10px;
                    height: 35px;
                    border-radius: 17.5px;
                    svg {
                        width: 14px;
                        height: 16px;
                    }
                }
            }
            &-iconlink {
                margin-right: 25px;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    width: 41px;
                    height: 41px;
                    border-radius: 50%;
                    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
                }
            }
            &-twitter {
                svg {
                    width: 16px;
                    height: 13px;
                }
            }
            &-instagramm {
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
            &-facebook {
                svg {
                    width: 7px;
                    height: 13px;
                }
            }
        }
    }
}

@media screen and (max-width:1590px) {
    .to-top-block {
        display: none;
    }
}

@media screen and (max-width: 1315px) {
    .category {
        .crosess {
            right: -60px;
        }
    }
}

@media screen and (max-width: 1304px) {
    .category {
        margin-bottom: 0;
        .crosess {
            right: -5.5%;
            z-index: -1;
        }
        &__list {
            margin-left: 20px;
            &-item {
                width: 45%;
                margin-right: 0;
                margin-bottom: 75px;
            }
        }
        &__promo, &__title {
            margin-left: 0px;
        }
    }
}

@media screen and (max-width: 1264px) {
    body {
        background-size: 60%, contain;
    }
    .white-block {
        .like-hover {
            right: -50px;
        }
    }
}

@media screen and (max-width: 1207px) {
    .easy-fast {
        margin-bottom: 120px;
    }
    .firms__list {
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
        &-item {
            width: 40%;
            margin: 0 25px 25px;
        }
    }
}

@media screen and (max-width: 1175px) {
    .easy-fast__promo, .wrapper__box-title, .block__square {
        margin-left: 0;
    }
    .wrapper__block-2 {
        margin-left: 60px;
    }
}

@media screen and (max-width: 1088px) {
    .menu {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .header {
        margin-bottom: 40px;
    }
    .first-page__title {
        font-size: 60px;
        width: 400px;
        line-height: inherit;
    }
    main {
        padding-top: 140px;
    }
}


@media screen and (max-width: 1090px) {
    .wrapper__block {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .easy-fast__wrapper {
        flex-wrap: wrap;
    }
    .easy-fast__promo, .wrapper__box-title {
        text-align: center;
    }
    .block {
        justify-content: center;
    }
}

@media screen and (max-width: 1014px) {
    .footer {
        &__list {
            flex-wrap: wrap;
            &-item:nth-child(1) {
                width: 100%;
            }
            .item__text {
                &-wrap {
                    text-align: center;
                }
                &-logo {
                    margin-bottom: 8px;
                }
            }
        }
    }
}

@media screen and (max-width: 928px) {
    .card {
        flex-wrap: wrap;
    }
    .top-selling {
        margin-bottom: 85px;
        .decore-2 {
            display: none;
        }
    }
    .wrapper {
        &__block-2, &__block {
            margin-left: 0px;
        }
    }

}

@media screen and (max-width: 820px) {
    .subscribe__wrap-title {
        font-size: 24px;
    }
    .form__box-input {
        width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        &__list {
            &-item:nth-child(2), &-item:nth-child(3), &-item:nth-child(4) {
                width: 33.3333%;
            } 
            .item__text-descr {
                margin-bottom: 30px;
            }
        }
    }
    .footer__list-item:nth-last-child(1) .item__text-box {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .footer__list-item:nth-last-child(1) span {
        justify-content: center;
    }
    .footer__list .item__text-iconlink {
        margin-right: 0;
    }
}

@media screen and (max-width: 680px) {
    .first-page {
        &__promo {
            font-size: 16px;
        }
        &__title {
            font-size: 50px;
            width: 365px;
        }
        &__decorate {
            top: 110px;
        }
    }
}

@media screen and (max-width: 608px) {
    .category {
        .crosess {
            top: -120px;
        }
        &__list {
            &-item {
                width: 100%;
            }
        }
    }
    .firms__list {
        &-item {
            width: 100%;
        }
    }
}
@media screen and (max-width: 608px) {
    .white-block {
        .like-hover {
            right: 10px;
        }
    }
}

@media screen and (max-width: 600px) {
    .form__box {
        flex-direction: column;
    }
    .form__box-input {
        margin-bottom: 20px;
        margin-right: 0;
    }
    .subscribe__wrap {
        padding: 105px 10px 0 10px;
    }
}

@media screen and (max-width: 520px) {
    .header__logo {
        margin-left: 0;
    }
    .first-page {
        &__decorate {
            width: 70%;
            top: 135px;
        }
        &__descr {
            width: 100%;
            text-align: justify;
            margin-left: 0;
        }
        &__title {
            margin-left: 0;
        }
        &__promo {
            width: 56%;
            margin-left: 0;
        }
    }
    body {
        background-size: 53%,contain;
    }
}

@media screen and (max-width: 460px) {
    .first-page {
        .link {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 420px) {
    .first-page {
        .link {
            display: block;
            &__item {
                margin-right: 0;
                &--yellow {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
            &__btn {
                margin-right: 0;
                &-play {
                    display: flex;
                    width: 100%;
                    height: 60px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    &:hover {
                        span {
                            color:#DF6951;
                        }
                    }
                    &:before {
                        left: 39%;
                        top: 22px;
                    }
                }
            }
            span {
                margin-top: 2px;
                margin-left: 45px;
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .first-page__title {
        width: 100%;
    } 
    body {
        background: none;
    }
}