@import 'reset';

body {
    background: url(../images/traveller.png) top right 231px no-repeat;
}

.container {
    width: 90%;
    max-width: 1196px;
    margin: 0 auto;
}

.header {
    margin: 47px 0 130px;
    display: flex;
    justify-content: space-between;
    &__logo {
        display: flex;
        align-items: center;
        margin-left: 18px;
        margin-top: -3px;
        svg {
            width: 117px;
            height: 36px;
        }
    }
    .menu {
        &__list {
            display: flex;
            &-item {
                font-family: 'Google Sans';
            }
            &-item:nth-child(6){
                margin-left: 24px;
                margin-right: 96px;
            }
            &-item:nth-child(5){
                margin-left: 43px;
            }
            &-item:nth-child(4){
                margin-left: 23px;
            }
            &-item:nth-child(3){
                margin-left: 14px;
            }
            &-item:nth-child(2){
                margin-left: 5px;
            }
            &-item:nth-child(1) > .menu__list-link{
                width: 150px;
            }
            &-link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 102px;
                height: 40px;
                border-radius: 5px;
                font-size: 17px;
                color: #212832;
                &:hover, &:focus {
                    border: 1px solid #212832;
                }   
            }
        }
    }
}

.first-page {
    position: relative;
    margin-bottom: 222px;
    &__promo {
        font-family: 'Poppins';
        font-weight: bold;
        color: #DF6951;
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 29px;
        margin-bottom: 14px;
        letter-spacing: 0.1px;
        margin-bottom: 25px;
    }
    &__title {
        font-family: 'Volkhov';
        color: #181e4b;
        font-size: 84px;
        font-weight: 700;
        width: (50% * 1196px) / 100%;
        margin-bottom: 31px;
        margin-left: 29px;
        line-height: 88.8px;
        letter-spacing: -3.5px;
    }
    &__decorate {
        position: absolute;
        left: 271px;
        top: 123px;
        z-index: -1;
    }
    &__descr {
        font-family: 'Poppins';
        font-weight: 500;
        color: #5e6282;
        font-size: 16px;
        width: ((34% * 1196px) / 100%) + 50px;
        margin-bottom: 33px;
        margin-left: 27px;
        line-height: 30px;
        letter-spacing: 0.02px;
    }
    .link {
        display: flex;
        align-items: center;
        margin-left: 27px;
        &__item {
            margin-right: 44px;
            &--yellow {
                font-family: 'Google Sans';                
                width: 170px;
                height: 60px;
                background-color: #F1A501;
                border-radius: 10px;
                border: 1px solid transparent;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                box-shadow:-1px 8px 20px rgba(241, 165, 1, .3);
                &:hover {
                    background-color: #fff;
                    border: 1px solid #F1A501;
                    color: #F1A501;
                }
            }
        }
        &__btn {
            margin-right: 21px;
            &-play {
                display: flex;
                width: 52px;
                height: 52px;
                border-radius: 50%;
                border: 1px solid transparent;
                background-color: #DF6951;
                position: relative;
                box-shadow: 0 15px 30px rgb(223 105 81 / .3);
                &::before {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border-left: 12px solid #fff;
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent;
                    position: absolute;
                    left: 21px;
                    top: 19px;
                    transition: all .2s ease;
                }
                &:hover {
                    background-color: #fff;
                    border-color: #DF6951;
                    &::before {
                        border-left: 12px solid #DF6951;
                    }
                }
            }
        }
        span {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 17px;
            color: #686d77;
            margin-top: 4px;
        }
    }
}

.category {
    text-align: center;
    max-width: 1174px;
    margin: 0 auto 156px;
    position: relative;
    .crosess {
        position: absolute;
        top: -8px;
        right: -75px;
    }
    &__promo {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 18px;
        color: #5e6282;
        text-transform: uppercase;
        margin-left: -37px;
        margin-bottom: 10px;
    }
    &__title {
        font-family: 'Volkhov';
        font-weight: bold;
        font-size: 50px;
        color: #14183e;
        margin-left: -36px;
        margin-bottom: 110px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        margin-left: -18px;
        &-item {
            width: calc(25% - (87px / 3));
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 36px;
            margin-right: 18px;
            position: relative;
            transition: all .2s ease;
            background-color: #fff;
            &:hover {
                box-shadow: 0 50px 38px rgb(0 0 0 / 5%);
            }
            &:hover::before {
                opacity: 1;
            }
            &::before {
                content: '';
                display: block;
                width: 100px;
                height: 100px;
                background-color: #DF6951;
                border-radius: 30px 0 10px 0;
                position: absolute;
                left: -34px;
                bottom: -44px;
                z-index: -1;
                opacity: 0;
                transition: all .2s ease;
                transition: ease opacity 0.3s;
                transition-delay: .0s;
            }
            &:hover::before {
                opacity: 1;
            }
            .icon-1 {
                width: 92px;
                height: 78px;
                margin-left: 7px;
                margin-bottom: 8px;
                
            }
            .icon-2 {
                width: 166px;
                height: 153px;
                
            }
            .icon-3 {
                margin: -2px 0 11px 21px;
            }
            .icon-4 {
                width: 77px;
                height: 66px;
                margin: 10px 0 8px 17px;
            }
        }
        &-title {
            font-family: 'Open Sans';
            font-size: 20px;
            color: #1e1d4c;
            margin: 22px 0 15px;
        }
        &-descr {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 16px;
            color: #5e6282;
            padding: 0 44px 0;
            margin-bottom: 36px;
        }
    }
    
}

.top-selling {
    text-align: center;
    margin-bottom: 200px;
    &__promo {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 18px;
        color: #5e6282;
        margin-bottom: 8px;
    }
    &__title {
        font-family: 'Volkhov';
        font-size: 50px;
        color: #14183E;
        margin-bottom: 60px;
    }
}

.card {
    display: flex;
    justify-content: space-around;
    &__item {
        position: relative;
        box-shadow: 0 50px 38px rgb(0 0 0 / 5%);
        border-radius: 0 0 24px 24px;
        img {
            border-radius: 0 0 24px 24px;
        }
    }
    &__info {
        position: absolute;
        width: 315px;
        height: 130px;
        border-radius: 0 0 24px 24px;
        padding: 27px 25px 20px;
        background-color: #fff;
        bottom: 0;
        left: 0;
        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Poppins';
            font-weight: 500;
            color: #5E6282;
            font-size: 18px;
            margin-bottom: 19px;
        }
        &-duration {
            display: flex;
            align-items: center;
            svg {
                width: 18px;
                height: 18px;
                margin-right: 15px;
            }
            span {
                font-family: 'Poppins';
                font-weight: 500;
                color: #5E6282;
                font-size: 16px;
            }
        }
    }
}

