section.contact-block {
    background: url(../images/background.png) top right/cover no-repeat;
}
 
.b-padding {
    padding: 80px 0 34px;
}

.flex-column {
    display: flex;
    justify-content: space-between;
}

.flex-btn {
    display: flex;
    justify-content: center;
}

.flex-footer {
    display: flex;
    justify-content: space-around; 
    align-items: center;   
}

.contact__header {
    text-align: center;
    margin: 0 auto;
    &-title h2{
        margin-bottom: 22px;
        color: #262626;
    }
    &-subtitle {
        text-align: center;
        line-height: 1.47;
        width: 30%;
        margin: 0 auto 46px;
    }
}

.contact-block {
    &__column {
        width: calc(50% - 7.26%);
    }
    &__text {
        &--red {
            color: #ff2b58;
        }
    }
    &__footer {
        width: 100%;
        height: 90px;
        background-color: #262626;
        padding: 0 195px;
        color: #b9b9b9;
        &-copy {
            font-size: 16px;
        }
        &-logo {
            margin-left: -61px;
            padding-top: 8px;
        }
        &-bytext {
            font-size: 15px;
        }
    }
}

.form {
    &__control {
        &-input, &-textarea {
            width: 100%;
            height: 50px;
            border: none;
            border-left: 5px solid transparent;
            padding-left: 15px;
            font-family: 'Raleway', sans-serif;
            font-size: 15px;
            font-weight: 300;
            color: #fff;
            background-color: rgba(0, 196, 196, .5);
            border-radius: 0;
            outline: 0;
            transition: all .5s ease;
            &::placeholder {
                color: #fff;
            }
            &:focus {
                background-color: rgba(0, 196, 196, 1);
                border-left: 5px solid #355b82;
            }
            &:hover {
                background-color: rgba(0, 196, 196, 1);
            }
        }
        &-item {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-textarea {
            height: 250px;
            padding-top: 17px;
            resize: none;
        }
    }
    .btn-contact__link {
        margin-top: 30px;
        width: 50%;
        height: 50px;
        background-color: rgba(0, 196, 196, .5);
        border: none;
        border-radius: 2px;
        display: flex;
        justify-content:center;
        align-items: center;
        box-shadow: none;
        font-size: 17px;
        color: #fff;
        position: relative;
        transition: all .5s ease;
        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 2px;
            background: rgba(0, 196, 196, 1);
            transition: all 1s ease;
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }
        &:hover:before,
        &:hover:after {
            width: 100%;
        }
    }
}
.descr {
    &__list {
        margin-top: -4px;
        color:#262626;
        &-term {
            font-weight: 700;
            margin-bottom: 1px;
        }
        &-def {
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 14px;
        }
        &-link {
            color: #262626;
        }
    }
}

@media screen and (max-width:1110px) {
    .contact-block__footer {
        padding: 0;
    }
}

@media screen and (max-width: 900px) {
    .contact-block__column {
        width: 80%;
    }
    .flex-column {
        flex-direction: column-reverse;
        align-items: center;
    }
    .descr__list {
        padding-bottom: 20px;
    }
    .form .btn-contact__link {
        width: 200px;
    }
}

@media screen and (max-width: 800px) {
    .flex-footer {
        flex-direction: column-reverse;
    }
    .contact-block__footer-logo {
        margin-left: 0;
        order: 1;
    }
}

@media screen and (max-width: 720px) {
    .contact__header-subtitle {
        width: 60%;
    }
}

@media screen and (max-width: 540px) {
    .contact-block__column {
        width: 100%;
    }
}