* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    background-color: #fff;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

.intro {
    padding: 143px 0 98px;
    text-align: center;
}


.name_intro {
    font-family: 'Montseratt', sans-serif;
    font-size: 12px;
    color:#898f99;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.intro h3 {
    font-family: 'Montseratt', sans-serif;
    font-size: 48px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top: 22px;
    color: #0ec8cb;
    font-weight:600;
}

.descr {
    font-size: 18px;
    text-transform: uppercase;
    color: #999999;
    padding-top: 28px;
    width: 550px;
    margin: 0 auto;
    line-height: 29px;
    text-align: center;
    letter-spacing: 1px;
}


.list li {
    display: inline;
    width: 235px;
    height: 420px;
    text-align: center;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
    float: left;
}

.list h3 {
    font-family: 'Montseratt', sans-serif;
    font-size: 21px;
    color: #1b1b1b;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    width: 200px;
    padding-left: 30px;
}

li:hover h3 {
    color:#fff;
}

li .table {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

li .algn {
    padding-bottom: 11px;
}

li .text {
    text-align: center;
    margin: 11px 22px;
    line-height: 22px;
    color: #777777;
}

li:hover {
    background-color: #0ec8cb;
    color: #fff;
    border-color:#0ec8cb;
}

li:hover .text {
    color: #fff;
}

li:hover  .icon_anchor{
    background-color: #0ec8cb;
    color: #fff;
    background-position: 0 -100px;
}

li:hover  .icon_diamond{
    background-color: #0ec8cb;
    color: #fff;
    background-position: -143px -100px;
}

li:hover .icon_eyeglasses {
    background-color: #0ec8cb;
    color: #fff;
    background-position: -288px -100px;
}

li:hover .icon_monitor {
    background-color: #0ec8cb;
    color: #fff;
    background-position: -413px -100px;
}

.list li .icon{
    margin: 56px 0 36px;
}

.icon {
    display: inline-block;
    width: 66px;
    height: 66px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
}


.icon_diamond {
    background-position: -143px 0px;
}


.icon_eyeglasses {
    background-position: -288px 0;
}

.icon_monitor {
    background-position: -413px 0;
}

.clearfix {
    clear:left;
}